<!DOCTYPE html>

<html>
  <head>
    <title>DisOnDart</title>
    <link rel="stylesheet" href="disondart.css">
  </head>

  <body>
    rows: <input type = 'text' bind-value='$rows'   on-change='rebuffer()' />
    start:<input type = 'text' bind-value='$start'  on-change='rebuffer()' />

    <table id='main'>
      <tr>
        <td>
          X
        </td>
        <td colspan='2'>
          <table id='columns'>
            <tr template iterate = 'col in indices(buffer[0])'>
              <td>
                {{toHex($(col))}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table id='rows' template iterate = 'row in indices(buffer)'>
            <tr>
              <td>
                {{toHex($(row))}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table id='buffer' template iterate = 'row in indices(buffer)'>
            <tr template iterate = 'col in indices(buffer[0])'>
              <td>
                <input type='text' bind-value ='buffer[row][col]' on-change='update(row,col)'/>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <script type="application/dart" src="disondart.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
